@import "../../../assets/scss/colors";
.container {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto;
  max-width: 1100px;
}
.article {
  &-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &-title {
    color: $orange;
  }
  &-btn {
    width: 70px;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    outline: none;
    margin-left: 5px;
    color: white;
    cursor: pointer;
    &:hover {
      opacity: 0.8;
    }
  }
  .btn--green {
    background-color: $green;
  }
  .btn--red {
    background-color: $red;
  }
}
