<div class="container">
    <article class="article">
        <div class="article-header">
            <h1 class="article-title">
                Titulo
            </h1>
            <div class="article-btns">
                <button class="article-btn btn--green">Editar</button>
                <button class="article-btn btn--red">Borrar</button>
            </div>
        </div>
        <p class="article-content">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia est a officiis nostrum at quas enim fugiat cumque deleniti. Tempora labore inventore quae sapiente, culpa odit. Deleniti explicabo facere neque.
        </p>
        <footer class="article-footer">
            <p class="article-autor">
                Autor <span class="date">ayer</span>
            </p>
        </footer>
    </article>
</div>