<div class="container">
    <article class="article" *ngIf=(articulo)>
        <div class="article-header">
            <h1 class="article-title">
                {{articulo.titulo}}
            </h1>
            <div class="article-btns">
                <button class="article-btn btn--green" (click)="editar()" >Editar</button>
                <button class="article-btn btn--red" (click)="borrar()">Borrar</button>
            </div>
        </div>
        <p class="article-content">
            {{articulo.contenido}}
        </p>
        <footer class="article-footer">
            <p class="article-autor">
                {{articulo.autor}} <span class="date">-{{articulo.fecha}}</span>
            </p>
        </footer>
    </article>
</div>