<article class="article">
    <div class="article-header">
        <h3 class="article-title">
            Titulo
        </h3> 
        <p class="article-autor">- Autor</p>
    </div>
    <div class="article-body">
        <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Delectus, minima consectetur quod velit similique perferendis vel, officia facilis mollitia quae sit, quos accusamus ratione aut! Est a obcaecati ipsa impedit!
        </p>
    </div>
    <footer class="article-footer">
        <small>15 minutos</small>
    </footer>

</article>